<script>
    export default {
        data(){
          return{
            words:'',
            giftimg:'',
            imgUrl:[],
            showLight:true,
            isBack:true,
            touchEvent:0
          }    
        },
        methods:{
            longTouch(){
                var _this = this;
                this.touchEvent = setTimeout(function(){
                    _this.longPress()
                }, 500);
            },
            touchend() {
                clearTimeout(this.touchEvent); //清除定时器 
                if (this.touchEvent != 0) {
                    this.touchEvent = 0;
                    // alert("你这是点击，不是长按");
                }
                return false;
            },
            touchmove() {
                clearTimeout(this.touchEvent); //清除定时器 
                this.touchEvent = 0;
            },
            longPress() {
                this.touchEvent = 0;
                ga('send','event','Online','image'+this.$store.state.date)
                // alert("长按事件触发");
            }
        },
        beforeRouteEnter (to, from, next) {
          next(vm => {
            if (from.path.match("gifts")) {
              //通过vuex获取数据
              // vm.$parent.domore(vm.$store.state.images,34,44,function(self){
                  vm.showLight = false;
              // });
            }else{
              vm.showLight = false;
            }
          })
        },
        beforeCreate(){
          if (this.$route.params.id) {
            this.$store.commit('userChoice',{
              date:this.$route.params.id,
              message:this.$parent.cartierDate[this.$route.params.id-1].message,
              imgType:this.$parent.cartierDate[this.$route.params.id-1].imgType
            })
          }
        },
        created(){
          if (!this.$store.state.date) {
            this.$router.push('home')
          }else{
            this.words = this.$store.state.message;
            this.giftimg = require('../../images/cartierImg/'+this.$store.state.date+'.'+this.$store.state.imgType);
          }
        },
        mounted:function(){
            this.$http.get('../../api/index.php')
                .then(res => {
                    if (res.data.result == 1) {
                        var conObj = {
                            debug: false,
                            appId: res.data.appId,
                            timestamp: res.data.timestamp,
                            nonceStr: res.data.nonce,
                            signature: res.data.signature,
                            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
                        }
                        wx.config(conObj);
                        var shareword = this.words.replace(/<br\/>/g,' ');
                        var link = 'http://holiday2016.cartier.cn/#/share?shareword='+ this.words +'&shareimg='+this.$store.state.date+'&imgType='+this.$store.state.imgType;
                            link = encodeURI(link);
                        var imgurl = "http://holiday2016.cartier.cn/wechatImg/"+this.$store.state.date+'.jpg';
                        wx.ready(function() {
                            wx.onMenuShareTimeline({
                                title: '卡地亚圣诞倒数日历，每天一个圣诞惊喜！', // 分享标题
                                desc: '', // 分享描述
                                link: link,
                                imgUrl:imgurl,
                                success: function() {
                                    ga('send','event','Online','Share');
                                    this.$router.push("animation");
                                },
                                cancel: function() {
                                }
                            });
                            wx.onMenuShareAppMessage({
                                title: '圣诞倒数日历', // 分享标题
                                desc: shareword, // 分享描述
                                link: link,
                                imgUrl:imgurl,
                                success: function() {
                                    ga('send','event','Online','Share');
                                    this.$router.push("animation");
                                },
                                cancel: function() {
                                }
                            });

                        });

                        wx.error(function(res) {
                            //alert(res);
                        });

                    }
                });
        }
    }
</script>
<template>
    <div class="animation">
            <div v-for="i in 30" class="stars" v-bind:style="{left:50+650*Math.random()+'px',top:750*Math.random()+500+'px',width:30*Math.random()+20+'px',webkitAnimation:'star '+ (2+Math.random()*2) +'s infinite'}" v-show="!showLight"><img src="../../images/star.png" alt=""></div >
            <p class="intro">1.长按贺卡内动图保存或发送给朋友<br/>2.微信对话框可发送相册内的GIF图片<br/>3.点击已发送的GIF图片添加表情</p>
            <router-link to="gifts" class="back"></router-link>
            <div class="giftcontainer">
                <div class="imgcontainer">
                    <img :src="giftimg" alt="" class="giftimg" @touchstart="longTouch()" @touchend="touchend()" @touchmove="touchmove()">
                </div>
                <p class="word" v-html="words"></p>
                <router-link :to="{ path: '/personalize'}" class="t1" replace onclick="ga('send','event','Online','Writecard')">写贺卡</router-link>
            </div>
            <img src="../../images/line.png" alt="" class="line">
            <img src="../../images/ribbon1.png" alt="" class="ribbon1">
            <img src="../../images/ribbon2.png" alt="" class="ribbon2">
            <p class="qrtext">长按二维码，更多惊喜</p>
            <img src="../../images/qrcode.jpg" alt="" class="qr">
            <router-link to="home" class="back" v-show="isBack"></router-link>
            <!-- <canvas id="canvas" v-show="showLight" class="lightContainer"></canvas> -->
    </div>
</template>
<style lang="scss" scoped>
    @function pectW($n, $w:750) {
        @return $n/$w*100%
    }
    @function pectH($n, $h:1203) {
        @return $n/$h*100%
    }
    @mixin center($width) {
        position: absolute;
        width: $width;
        left: 50%;
        margin-left: (-$width/2)
    }
    .animation{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background:url(../../images/animation-bg.jpg);
        background-size:100% 100%;
        -webkit-user-select:none;/*webkit浏览器*/
        user-select:none;
        #canvas{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
        }
        .stars{
            position: absolute;
            img{
                width: 100%;
            }
        }
        .ribbon1{
            position: absolute;
            left: 0;
            top: 0;
        }
        .ribbon2{
            position: absolute;
            right: 0;
            top: pectH(800);
        }
        .line{
            position: absolute;
            top: pectH(900);
        }
        .back{
            position: absolute;
            left: 35px;
            top: 25px;
            font-size: 30px;
            text-decoration: none;
            color:#959595;
        }
        .giftcontainer{
            @include center(610px);
            top: pectH(92);
            height: 760px;
            background:#fff;
            box-shadow: 0 0 14px #717171;
            background:#fff;
            background-size:100% 100%;
            .t1{
                @include center(223px);
                text-decoration: none;
                height: 90px;
                font-size: 37px;
                color: #fff;
                background:#a01429;
                text-align: center;
                line-height: 90px;
                bottom: -45px;
            }
            .imgcontainer{
                position: relative;
                display: flex;
                width: 100%;
                height: 570px;
                background:#fff;
                background-size:100%;
                z-index: 2;
                .giftimg{
                    display: block;
                    width: 550px;
                    margin:auto;
                }
            }
            .word{
                position: relative;
                margin-top: -5px;
                padding-top: 35px;
                font-size: 35px;
                line-height: 52px;
                font-weight: bold;
                text-align: center;
                -webkit-text-size-adjust: none;
                background: -webkit-linear-gradient(0deg, #9b7a27 0%,#efcc63 20%,#9b7a27 40%, #efcc63 60%, #9b7a27 80%, #efcc63 100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-fill-color: transparent;
            }
        }
        .intro{
            position: absolute;
            left: 120px;
            top: pectH(1000);
            font-size: 20px;
            color: #898989;
            line-height: 33px;
        }
        .qrtext{
            position: absolute;
            top: pectH(1110);
            left: 133px;
            font-size: 25px;
            color:#a12004;
            font-weight: bold;
        }
        .qr{
           position: absolute;
           left: 468px;
           width: 147px;
           top: pectH(1003);
        }
    }
</style>