<template>
     
    <section class="homeContainer">
      <div class="house">
        <div class="dateContainer" v-for="(v,k) in $parent.cartierDate" @click="showpop(v.date,v.message,v.imgType)" >
          <p class="beforeDate" v-bind:class="v.active">{{v.date}}</p>
        </div>
      </div>
      <div class="chris"></div>
      <!-- <p class="calendar">卡地亚圣诞日历</p> -->
      <div class="homeBottomBg"></div>
      <div class="leftBg"></div>
      <div class="rightBg"></div>
      <div class="waiter"></div>
      <p class="clickMe" @click="clickBtn">点击日期，发现惊喜</p>
      <div class="popBgColor" v-show="shareit" @click="hide">
        <div class="dontWorry">
          <p class="dwText">
            别心急这份礼物<br>将在{{openDate}}日打开
          </p>
        </div>
      </div>
      <div class="snow snow1"></div>
      <div class="snow snow2"></div>
      <div class="snow snow3"></div>
      <div class="snow snow4"></div>
      <div class="snow snow5"></div>
      <div class="snow snow6"></div>
    </section>
  
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      shareit:false,
      openDate:'',
      today(){
        let Today = new Date().getDate();
        // let Today = 1 //测试用日期
        if(Today>=28){
          Today = 28;
        }
        if (Today<10) {
          Today = '0'+Today;
        }
        return Today//当天时间，1-28.
      },
      payload:{
        date:'',
        message:'',
        imgType:''
      },
      img:[],
      payloadimg:{
        imgArray:[]
      }
    }
  },
  methods:{
      showpop(val,message,imgType){
          this.openDate = val;
          //if(this.openDate < 12){
            this.payload.date = val;
            this.payload.message = message;
            this.payload.imgType = imgType;
            this.$router.push("gifts");
            this.$store.commit('userChoice',this.payload)
            ga('send', 'event','Online','Day'+val+'')
            return
          //}
          this.shareit = true;
      },
      clickBtn(){
          this.payload.date = this.today()+'';
          this.payload.message = this.$parent.cartierDate[this.today()-1].message;
          this.payload.imgType = this.$parent.cartierDate[this.today()-1].imgType;
          this.$router.push("gifts");
          this.$store.commit('userChoice',this.payload)
          ga('send', 'event','Online','Day'+this.payload.date+'')
      },
      hide(){
          this.shareit = false;
      }
  },
  mounted:function(){
    this.$parent.cartierDate[this.today()-1].active = {
      isActive:true
    };
    this.payload.date = this.today();
    this.payload.message = this.$parent.cartierDate[this.today()-1].message;
    this.payload.imgType = this.$parent.cartierDate[this.today()-1].imgType;
    this.$store.commit('userChoice',this.payload)
    for (var i = 1; i < 49; i++) {
      this.img.push(require("../../images/test/light"+i+".png"));
    }
    // for (var i = 1; i < 34; i++) {
    //   this.img.push(require("../../images/light-min"+i+".png"));
    // }
    // for (var i = 60; i < 91; i=i+3) {
    //   this.img.push(require("../../images/shine/shine"+i+".png"));
    // }
    for (var i = 0; i < this.img.length; i++) {
      this.payloadimg.imgArray[i] = new Image();
      this.payloadimg.imgArray[i].src = this.img[i];
    }
    this.$store.commit('addImage',this.payloadimg);
    this.$http.get('../../api/index.php')
      .then(res => {
          if (res.data.result == 1) {
              var conObj = {
                  debug: false,
                  appId: res.data.appId,
                  timestamp: res.data.timestamp,
                  nonceStr: res.data.nonce,
                  signature: res.data.signature,
                  jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
              }
              wx.config(conObj);
              var shareword = this.$store.state.message;
              var link = 'http://holiday2016.cartier.cn/#/share?shareword='+ this.$store.state.message +'&shareimg='+this.$store.state.date+'&imgType='+this.$store.state.imgType;
                  link = encodeURI(link);
              var imgurl = "http://holiday2016.cartier.cn/wechatImg/"+this.$store.state.date+'.jpg';
              wx.ready(function() {
                  wx.onMenuShareTimeline({
                      title: '卡地亚圣诞倒数日历，每天一个圣诞惊喜！', // 分享标题
                      desc: '', // 分享描述
                      link: link,
                      imgUrl:imgurl,
                      success: function() {
                          ga('send','event','Online','Share');
                      },
                      cancel: function() {
                      }
                  });
                  wx.onMenuShareAppMessage({
                      title: '圣诞倒数日历', // 分享标题
                      desc: shareword, // 分享描述
                      link: link,
                      imgUrl:imgurl,
                      success: function() {
                          ga('send','event','Online','Share');
                      },
                      cancel: function() {
                      }
                  });

              });

              wx.error(function(res) {
                  //alert(res);
              });

          }
      });
  }
    
  // ,
  // watch:{
  //   '$parent.cartierDate':{
  //     handler: function (val, oldVal) {
  //     },
  //     deep: true
  //   }
  // }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .homeContainer{
    width: 100%;
    height: 100%;
    background: url(../../images/homeBg.jpg) bottom no-repeat;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .chris{
    width: 81.4%;
    height: 12%;
    position: absolute;
    background: url(../../images/chris.png) no-repeat;
    top: 2.5%;
    left: 50%;
    margin-left: -40.7%;
    z-index: 6;
  }
  .house{
    width:87.6%;
    height: 76.1%;
    position: absolute;
    background: url(../../images/house.png) no-repeat;
    background-size:100% 100%;
    bottom: 10.2%;
    left: 5%;
    z-index: 1;
  }
  .homeBottomBg{
    width:100%;
    height: 10.2%;
    position: absolute;
    background: url(../../images/bottomBg.jpg) no-repeat;
    bottom:0;
    left:0;
    z-index: 2;
    background-size: 100% 100%;
  }
  .leftBg{
    width:10.2%;
    height:30.1%;
    position: absolute;
    background: url(../../images/homeLeftGigts.png) no-repeat;
    bottom:0;
    left:0;
    z-index: 2;
  }
  .rightBg{
    width:16.4%;
    height:30.1%;
    position: absolute;
    background: url(../../images/homeRightGigts.png) no-repeat;
    bottom:0;
    right:-15px;
    z-index: 2;
  }
  .waiter{
    width: 15%;
    height:15.5%;
    position: absolute;
    left: 32%;
    bottom:6.7%;
    background: url(../../images/waiter.png) 0 0 no-repeat;
    z-index: 3;
  }
  .calendar{
    width: 8em;
    position: absolute;
    top:10%;
    left: 50%;
    margin-left: -4em;
    font-size: 30px;
    font-weight: 700;
    background: -webkit-linear-gradient(left,#967524 1%, #f1ce64 53%, #a78933 78%, #6c5419 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .clickMe{
    width: 10em;
    position: absolute;
    top: 17%;
    left: 50%;
    margin-left: -4.5em;
    font-size: 30px;
    font-weight: 700;
    z-index: 4;
    background: -webkit-linear-gradient(left,#967524 1%, #f1ce64 53%, #a78933 78%, #6c5419 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .beforeDate{
    padding-top: 34px;
    font-size: 28px;
    font-weight: 700;
    /*font-style: oblique;*/
    line-height: 36px;
    font-family: CartierDidot;
    text-align: center;
    background: -webkit-linear-gradient(left,#967524 1%, #f1ce64 53%, #a78933 78%, #6c5419 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .popBgColor{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color:rgba(40,40,40,.8);
    z-index: 20;
  }
  .dontWorry{
    width: 81%;
    height: 73%;
    background: url(../../images/dontWorry.jpg) 0 0 no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -40.5%;
    top:50%;
    margin-top: -58.5%;
    z-index: 10;
  }
  .dwText{
    margin-top: 25%;
    font-size: 46px;
    text-align: center;
    line-height: 80px;
    background: -webkit-linear-gradient(left,#967524 21%, #f1ce64 66.25%, #a78933 70%, #6c5419 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .isActive{
    padding-top: 0;
    /*margin-left: -10px;*/
    font-size: 74px;
    font-weight: 700;
    /* font-style: oblique; */
    line-height: 80px;
    text-align: center;
    animation: textLight 2s ease-in-out infinite alternate;
  }
  @keyframes textLight {
    from {
      text-shadow:
       0 0 20px #fffde4,
       /*0 0 20px  #fff,*/
       /*0 0 30px  #fff,*/
       0 0 40px  #fefab0,
       0 0 70px  #fefab0
       /*,*/
       /*0 0 80px  #fefab0*/
    }
    to {
      text-shadow:
       0 0 30px #fffde4,
       /*0 0 10px #fff,*/
       /*0 0 15px #fff,*/
       0 0 20px #fefab0,
       0 0 35px #fefab0
       /*,*/
       /*0 0 40px #fefab0*/
    }
  }


  .snow{
    width: 150px;
    height: 150px;
    background: url(../../images/snow.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 5;
  }
  .snow1{
    top: -9%;
    left: 34%;
    transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
  }
  .snow2{
    top: 11%;
    left: 18%;
    transform: scale(0.7) rotate(20deg);
    -webkit-transform: scale(0.7) rotate(20deg);
  }
  .snow3{
    top: 7%;
    right: -9.5%;
    transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
  }
  .snow4{
    width: 100px;
    height: 100px;
    top: 52%;
    right: -2%;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
  }
  .snow5{
    width: 100px;
    height: 100px;
    top: 60%;
    left: -2%;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
  }
  .snow6{
    width: 70px;
    height: 70px;
    top: 69.5%;
    left: 53%;
    transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
  }

  .dateContainer{
    width: 20%;
    height: 8%;
    position: absolute;
    z-index: 5;
  }
  .dateContainer:nth-child(1){
    top: 13%;
    left: 5%;
  }
  .dateContainer:nth-child(2){
    top: 13%;
    left: 22.5%;
  }
  .dateContainer:nth-child(3){
    top: 13%;
    left: 40%;
  }
  .dateContainer:nth-child(4){
    top: 13%;
    left: 58%;
  }
  .dateContainer:nth-child(5){
    top: 13%;
    left: 75%;
  }
  .dateContainer:nth-child(6){
    top: 27.8%;
    left: 1.4%;
  }
  .dateContainer:nth-child(7){
    top: 27.8%;
    left: 19.1%;
  }
  .dateContainer:nth-child(8){
    top: 27.8%;
    left: 40.1%;
  }
  .dateContainer:nth-child(9){
    top: 27.8%;
    left: 61.2%;
  }
  .dateContainer:nth-child(10){
    top: 27.8%;
    left: 78.2%;
  }
  .dateContainer:nth-child(11){
    top: 39.4%;
    left: 1.4%;
  }
  .dateContainer:nth-child(12){
    top: 39.4%;
    left: 19.1%;
  }
  .dateContainer:nth-child(13){
    top: 39.4%;
    left: 61.2%;
  }
  .dateContainer:nth-child(14){
    top: 39.4%;
    left: 78.2%;
  }
  .dateContainer:nth-child(15){
    top: 54.5%;
    left: 1.4%;
  }
  .dateContainer:nth-child(16){
    top: 54.5%;
    left: 19.1%;
  }
  .dateContainer:nth-child(17){
    top: 54.5%;
    left: 61.2%;
  }
  .dateContainer:nth-child(18){
    top: 54.5%;
    left: 78.2%;
  }
  .dateContainer:nth-child(19){
    top: 69.1%;
    left: 1.4%;
  }
  .dateContainer:nth-child(20){
    top: 69.1%;
    left: 19.1%;
  }
  .dateContainer:nth-child(21){
    top: 69.1%;
    left: 40.1%;
  }
  .dateContainer:nth-child(22){
    top: 69.1%;
    left: 61.2%;
  }
  .dateContainer:nth-child(23){
    top: 69.1%;
    left: 79%;
  }
  .dateContainer:nth-child(24){
    top: 82%;
    left: 0.8%;
  }
  .dateContainer:nth-child(25){
    top: 82%;
    left: 19.4%;
  }
  .dateContainer:nth-child(26){
    top: 79.4%;
    left: 40.2%;
  }
  .dateContainer:nth-child(27){
    top: 82%;
    left: 61.5%;
  }
  .dateContainer:nth-child(28){
    top: 82%;
    left: 80%;
  }
</style>
