<template>
  
    <section class="giftClose">
        <div :class="{halo:isclickGift}" @click="openGift"></div>
        <router-link to="home" class="back" v-show="isBack"></router-link>
        <p class="clickGift">点击打开这份礼物</p>
        <div class="boxTop" :class="{boxOpen:isBoxOpen}"></div>
        <div class="boxBottom"></div>
        <canvas id="canvas" v-show="showLight" class="lightContainer"></canvas>
    </section>
</template>

<script>
export default {
  name: 'gifts',
  data () {
    return {
      isBack:true,//如果是IOS不重复显示返回
      isclickGift:true,
      isBoxOpen:false,
      isLightAni:false,
      islightStart:false,
      showLight:false
    }
  },
  methods:{
    openGift(){
      this.isBack = false;
      this.isclickGift = false;
      this.isBoxOpen = true;
      this.isLightAni = true;
      this.islightStart = true;
      this.showLight = true;
      this.$parent.domore(this.$store.state.images,0,48,function(self){
        self.$router.push("animation")
      });
      ga('send', 'event','Online','Openbox')
    }
  },
  created(){
    if (!this.$store.state.date) {
      this.$router.push('home')
    }
  },
  mounted:function(){
    this.$http.get('../../api/index.php')
      .then(res => {
          if (res.data.result == 1) {
              var conObj = {
                  debug: false,
                  appId: res.data.appId,
                  timestamp: res.data.timestamp,
                  nonceStr: res.data.nonce,
                  signature: res.data.signature,
                  jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
              }
              wx.config(conObj);
              var shareword = this.$store.state.message;
              var link = 'http://holiday2016.cartier.cn/#/share?shareword='+ this.$store.state.message +'&shareimg='+this.$store.state.date+'&imgType='+this.$store.state.imgType;
                  link = encodeURI(link);
              var imgurl = "http://holiday2016.cartier.cn/wechatImg/"+this.$store.state.date+'.jpg';
              wx.ready(function() {
                  wx.onMenuShareTimeline({
                      title: '卡地亚圣诞倒数日历，每天一个圣诞惊喜！', // 分享标题
                      desc: '', // 分享描述
                      link: link,
                      imgUrl:imgurl,
                      success: function() {
                          ga('send','event','Online','Share');
                          location.reload();
                      },
                      cancel: function() {
                      }
                  });
                  wx.onMenuShareAppMessage({
                      title: '圣诞倒数日历', // 分享标题
                      desc: shareword, // 分享描述
                      link: link,
                      imgUrl:imgurl,
                      success: function() {
                          ga('send','event','Online','Share');
                          location.reload();
                      },
                      cancel: function() {
                      }
                  });

              });

              wx.error(function(res) {
                  //alert(res);
              });

          }
      });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .giftClose{
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/giftClose.jpg) bottom no-repeat;
  }
  .halo{
    width:124px;
    height: 124px;
    position: absolute;
    left: 50%;
    margin-left: -61px;
    top:58%;
    background-image: url(../../images/halo.png);
    background-size: 100% 100%;
    animation: fadeInOut 2.5s ease-in-out infinite;
    -webkit-animation: fadeInOut 2.5s ease-in-out infinite;
    z-index: 5;
  }
  @keyframes fadeInOut{
    50%{ opacity: .4 }
    100%{ opacity: 1 }
  }
  @-webkit-keyframes fadeInOut{
    50%{ opacity: .4 }
    100%{ opacity: 1 }
  }
  .back{
    width: 30px;
    height: 40px;
    position: absolute;
    left: 35px;
    top: 25px;
    background-image: url(../../images/backIcon.png);
    background-size: 100% 100%;
    z-index: 3;
  }
  .clickGift{
    position: absolute;
    width: 8em;
    left: 50%;
    margin-left: -4em;
    bottom: 125px;
    font-size: 40px;
    background: -webkit-linear-gradient(left,#967524 1%, #f1ce64 53%, #a78933 78%, #6c5419 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .boxTop{
    width: 100%;
    height: 241px;
    position: absolute;
    top:41%;
    left: 0;
    background-image: url('../../images/boxTop.png');
    background-size: 100% 100%;
    z-index: 2;
  }
  .boxBottom{
    width: 100%;
    height: 178px;
    position: absolute;
    top:55.5%;
    left: 0;
    background-image: url('../../images/boxBottom.png');
    background-size: 100% 100%;
    z-index: 1;
  }
  .boxOpen{
    transition: all 2.5s;
    -webkit-transition: all 2.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transform: translate3d(0,-5%,0);
    -webkit-transform: translate3d(0,-5%,0);
  }
  .lightContainer{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 99;
  }

</style>
