<script>
    import store from "../vuex/store";
    export default {
        data(){
            return{
                words:'',
                giftimg:'',
                isBack:true
            }    
        },
        methods:{
            submit(){
                ga('send','event','Online','Savecard');
                store.commit('SET_WORDS',this.words.replace(/<[^<>]+>/g,""));
                this.$router.push("preview");
            },
            keyboard(){
                document.getElementById('words').focus();
            }
        },
        watch:{
            words(val){
                this.words = val.replace(/((\n.*){2})\n.*/g,"$1")
            }
        },
        mounted(){
            this.keyboard();
            setTimeout(()=>{scroll(0,300)},0);
            this.$http.get('../../api/index.php')
                .then(res => {
                    if (res.data.result == 1) {
                        var conObj = {
                            debug: false,
                            appId: res.data.appId,
                            timestamp: res.data.timestamp,
                            nonceStr: res.data.nonce,
                            signature: res.data.signature,
                            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
                        }
                        wx.config(conObj);
                        var shareword = this.words.replace(/<br\/>/g,' ');
                        var link = 'http://holiday2016.cartier.cn/#/share?shareword='+ this.words +'&shareimg='+this.$store.state.date+'&imgType='+this.$store.state.imgType;
                            link = encodeURI(link);
                        var imgurl = "http://holiday2016.cartier.cn/wechatImg/"+this.$store.state.date+'.jpg';
                        wx.ready(function() {
                            wx.onMenuShareTimeline({
                                title: '卡地亚圣诞倒数日历，每天一个圣诞惊喜！', // 分享标题
                                desc: '', // 分享描述
                                link: link,
                                imgUrl:imgurl,
                                success: function() {
                                    ga('send','event','Online','Share');
                                    location.reload();
                                },
                                cancel: function() {
                                }
                            });
                            wx.onMenuShareAppMessage({
                                title: '圣诞倒数日历', // 分享标题
                                desc: shareword, // 分享描述
                                link: link,
                                imgUrl:imgurl,
                                success: function() {
                                    ga('send','event','Online','Share');
                                    location.reload();
                                },
                                cancel: function() {
                                }
                            });

                        });

                        wx.error(function(res) {
                            //alert(res);
                        });

                    }
                });
        },
        created(){
            if (!this.$store.state.date) {
              this.$router.push('home')
            }else{
                this.words = this.$store.state.message;
                this.giftimg = require('../../images/cartierImg/'+this.$store.state.date+'.'+this.$store.state.imgType);
            }
        }
    }
</script>
<template>
<div class="personalize">
    <div v-for="i in 30" class="stars" v-bind:style="{left:50+650*Math.random()+'px',top:750*Math.random()+200+'px',width:30*Math.random()+20+'px',webkitAnimation:'star '+ (2+Math.random()*2) +'s infinite'}"><img src="../../images/star.png" alt=""></div >
    <router-link to="animation" class="back"></router-link>
    <div class="giftcontainer">
        <div class="imgcontainer">
            <img :src="giftimg" alt="" class="giftimg">
        </div>
        <textarea id="words" cols="30" rows="3" v-model="words" maxlength="40"></textarea>
        <p @click="submit" class="t1">保存</p>
    </div>
    <img src="../../images/ribbon1.png" alt="" class="ribbon1">
    <router-link to="home" class="back" v-show="isBack"></router-link>   
</div>
</template>
<style lang="scss" scoped>
    @function pectW($n, $w:750) {
        @return $n/$w*100%
    }
    @function pectH($n, $h:1203) {
        @return $n/$h*100%
    }
    @mixin center($width) {
        position: absolute;
        width: $width;
        left: 50%;
        margin-left: (-$width/2)
    }
    .personalize{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background:url(../../images/animation-bg.jpg);
        background-size:100% 100%;
        .stars{
            position: absolute;
            img{
                width: 100%;
            }
        }
        .ribbon1{
            position: absolute;
            left: 0;
            top: 0;
        }
        .back{
            position: absolute;
            left: 35px;
            top: 25px;
            font-size: 30px;
            text-decoration: none;
            color:#959595;
        }
        .giftcontainer{
            @include center(610px);
            top: pectH(92);
            height: 636px;
            background:#fff;
            box-shadow: 0 0 14px #717171;
            background:#fff;
            background-size:100% 100%;
            .t1{
                @include center(223px);
                text-decoration: none;
                height: 90px;
                font-size: 37px;
                color: #fff;
                background:#a01429;
                text-align: center;
                line-height: 90px;
                bottom: -45px;
            }
            .imgcontainer{
                position: relative;
                display: flex;
                width: 100%;
                height: 570px;
                background:#fff;
                background-size:100%;
                z-index: 2;
                .giftimg{
                    display: block;
                    width: 550px;
                    margin:auto;
                }
            }
            #words{
                @include center(560px);
                z-index: 2;
                display: block;
                height: 120px;
                bottom:60px;
                font-size: 30px;
                line-height: 40px;
                font-weight: bold;
                color: #959595;
                text-align: center;
                resize: none;
                -webkit-appearance: none;
                border-bottom: 0;
                border-right:0;
                box-shadow:1px 1px 1px #000;
            }
        }
        .intro{
            position: absolute;
            width: 100%;
            font-weight: bold;
            top: pectH(790);
            font-size: 23px;
            color: #898989;
            text-align: center;
            line-height: 45px;
        }
        .qrtext{
            position: absolute;
            top: pectH(940);
            text-align: center;
            width: 100%;
            font-size: 24px;
            color:#a12004;
            font-weight: bold;
        }
        .qr{
           @include center(166px); 
           top: pectH(988);
        }
    }
</style>
