<script>
    import store from "../vuex/store";
    export default {
        data(){
            return{
                words:"",
                giftimg:'',
                shareit:false,
                shared:false
            }    
        },
        computed:{
            words(){
                return store.state.wordsbyuser.replace(/\n/g,'<br/>');
            }
        },
        methods:{
            share(){
                ga('send','event','Online','Sharebutton');
                this.shareit = true;
            },
            hide(){
                this.shareit = false;
            },
            hide2(){
                this.shared = true;
            }
        },
        mounted(){
            this.$http.get('../../api/index.php')
                .then(res => {
                    if (res.data.result == 1) {
                        var conObj = {
                            debug: false,
                            appId: res.data.appId,
                            timestamp: res.data.timestamp,
                            nonceStr: res.data.nonce,
                            signature: res.data.signature,
                            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
                        }
                        wx.config(conObj);
                        var shareword = this.words.replace(/<br\/>/g,' ');
                        var link = 'http://holiday2016.cartier.cn/#/share?shareword='+ this.words +'&shareimg='+this.$store.state.date+'&imgType='+this.$store.state.imgType;
                            link = encodeURI(link);
                        var imgurl = "http://holiday2016.cartier.cn/wechatImg/"+this.$store.state.date+'.jpg';
                        wx.ready(function() {
                            wx.onMenuShareTimeline({
                                title: '卡地亚圣诞倒数日历，每天一个圣诞惊喜！', // 分享标题
                                desc: '', // 分享描述
                                link: link,
                                imgUrl:imgurl,
                                success: function() {
                                    ga('send','event','Online','Share');
                                    location.reload();
                                },
                                cancel: function() {
                                }
                            });
                            wx.onMenuShareAppMessage({
                                title: '圣诞倒数日历', // 分享标题
                                desc: shareword, // 分享描述
                                link: link,
                                imgUrl:imgurl,
                                success: function() {
                                    ga('send','event','Online','Share');
                                    location.reload();
                                },
                                cancel: function() {
                                }
                            });

                        });

                        wx.error(function(res) {
                            //alert(res);
                        });

                    }
                });
        },
        created(){
          if (!this.$store.state.date) {
            this.$router.push('home')
          }else{
            this.words = this.$store.state.message;
            this.giftimg = require('../../images/cartierImg/'+this.$store.state.date+'.'+this.$store.state.imgType);
          }
        }
    }
</script>
<template>
<div class="personalize">
    <div v-for="i in 30" class="stars" v-bind:style="{left:50+650*Math.random()+'px',top:750*Math.random()+200+'px',width:30*Math.random()+20+'px',webkitAnimation:'star '+ (2+Math.random()*2) +'s infinite'}"><img src="../../images/star.png" alt=""></div >
    <router-link to="personalize" class="back"></router-link>
    <div class="giftcontainer">
        <div class="imgcontainer">
            <img :src="giftimg" alt="" class="giftimg">
        </div>
        <p class="word" v-html="words"></p>
        <img src="../../images/stamp.png" alt="" class="stamp">
    </div>
    <img src="../../images/ribbon1.png" alt="" class="ribbon1">
    <img src="../../images/line.png" alt="" class="line">  
    <router-link to="personalize" class="rewrite" onclick="ga('send','event','Online','Edit');">重新编辑</router-link>
    <p class="share" @click="share">分享</p>
    <div class="mask" v-show="shareit" @click="hide">
        <img src="../../images/share.png" alt="" class="arrow">
    </div>
    <div class="mask2" v-show='shared'>
        <router-link to="home" class="back"><img src="../../images/back.png" alt="" class="back"></router-link> 
        <router-link to="home" class="back"><img src="../../images/more.png" alt="" class="more"></router-link> 
    </div>
</div>
</template>
<style lang="scss" scoped>
    @function pectW($n, $w:750) {
        @return $n/$w*100%
    }
    @function pectH($n, $h:1203) {
        @return $n/$h*100%
    }
    @mixin center($width) {
        position: absolute;
        width: $width;
        left: 50%;
        margin-left: (-$width/2)
    }
    .personalize{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background:url(../../images/animation-bg.jpg);
        background-size:100% 100%;
        .stars{
            position: absolute;
            img{
                width: 100%;
            }
        }
        .ribbon1{
            position: absolute;
            left: 0;
            top: 0;
        }
        .line{
            position: absolute;
            top: pectH(930);
        }
        .back{
            position: absolute;
            left: 35px;
            top: 25px;
            font-size: 30px;
            text-decoration: none;
            color:#959595;
        }
        .giftcontainer{
            @include center(610px);
            top: pectH(92);
            height: 765px;
            background:#fff;
            box-shadow: 0 0 14px #717171;
            z-index: 2;
            background:#fff;
            background-size:100% 100%;
            .stamp{
                @include center(120px);
                bottom: -60px;
            }
            .imgcontainer{
                position: relative;
                display: flex;
                width: 100%;
                height: 570px;
                background:#fff;
                background-size:100%;
                z-index: 2;
                .giftimg{
                    display: block;
                    width: 550px;
                    margin:auto;
                }
            }
            .word{
                position: relative;
                margin-top: -5px;
                font-size: 36px;
                line-height: 50px;
                font-weight: bold;
                color: #9b7a27;
                text-align: center;
                -webkit-text-size-adjust: none;
                background: -webkit-linear-gradient(0deg, #9b7a27 0%,#efcc63 20%,#9b7a27 40%, #efcc63 60%, #9b7a27 80%, #efcc63 100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-fill-color: transparent;
            }
        }
        .intro{
            position: absolute;
            width: 100%;
            font-weight: bold;
            top: pectH(790);
            font-size: 23px;
            color: #898989;
            text-align: center;
            line-height: 45px;
        }
        .qrtext{
            position: absolute;
            top: pectH(940);
            text-align: center;
            width: 100%;
            font-size: 24px;
            color:#a12004;
            font-weight: bold;
        }
        .qr{
           @include center(166px); 
           top: pectH(988);
        }
        .rewrite{
            position: absolute;
            width: 252px;
            text-decoration: none;
            height: 90px;
            font-size: 37px;
            color: #fff;
            background:#a01429;
            text-align: center;
            line-height: 90px;
            bottom: pectH(100);
            left: 96px;
        }
        .share{
            position: absolute;
            width: 252px;
            height: 90px;
            font-size: 37px;
            color: #fff;
            background:#a01429;
            text-align: center;
            line-height: 90px;
            bottom: pectH(100);
            right: 96px;
        }
        .mask{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.7);
            .arrow{
                position: absolute;
                right: 40px;
                top: 15px;
                z-index: 4;
            }
            .text{
                @include center(278px);
                bottom:pectH(135);
            }
        }
        .mask2{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.7);
            z-index: 5;
            .back{
                @include center(141px);
                bottom:pectH(717);
            }
            .more{
                @include center(138px);
                bottom:pectH(409);
            }
        }
    }
</style>
