<script>
    export default {
        data(){
            return{
                words:"可爱的圣诞",
                giftimg:''
            }    
        },
        methods:{
            // getQueryString(name) {
            //     var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            //     var r = window.location.search.substr(1).match(reg);
            //     if (r != null) {
            //         return decodeURI(r[2]);
            //     }
            //     return null;
            // }
        },
        mounted(){
            if (this.$route.query.shareword) {
                this.words = decodeURI(this.$route.query.shareword);
                this.giftimg = require('../../images/cartierImg/'+this.$route.query.shareimg+'.'+this.$route.query.imgType);
            }else{
                this.$router.push("home");
            };
            this.$http.get('../../api/index.php')
                .then(res => {
                    if (res.data.result == 1) {
                        var conObj = {
                            debug: false,
                            appId: res.data.appId,
                            timestamp: res.data.timestamp,
                            nonceStr: res.data.nonce,
                            signature: res.data.signature,
                            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
                        }
                        wx.config(conObj);
                        var shareword = this.words.replace(/<br\/>/g,' ');
                        var link = location.href;
                            // link = encodeURI(link);
                        var imgurl = "http://holiday2016.cartier.cn/wechatImg/"+this.$route.query.shareimg+'.jpg';
                        wx.ready(function() {
                            wx.onMenuShareTimeline({
                                title: '卡地亚圣诞倒数日历，每天一个圣诞惊喜！', // 分享标题
                                desc: '', // 分享描述
                                link: link,
                                imgUrl:imgurl,
                                success: function() {
                                    ga('send','event','Online','Share');
                                    location.reload();
                                },
                                cancel: function() {
                                }
                            });
                            wx.onMenuShareAppMessage({
                                title: '圣诞倒数日历', // 分享标题
                                desc: shareword, // 分享描述
                                link: link,
                                imgUrl:imgurl,
                                success: function() {
                                    ga('send','event','Online','Share');
                                    location.reload();
                                },
                                cancel: function() {
                                }
                            });

                        });

                        wx.error(function(res) {
                            //alert(res);
                        });

                    }
                });
        }
    }
</script>
<template>
<div class="share">
    <div class="giftcontainer">
        <div class="imgcontainer">
            <img :src="giftimg" alt="" class="giftimg">
        </div>
        <p class="word" v-html="words"></p>
        <img src="../../images/stamp.png" alt="" class="stamp">
    </div>
    <img src="../../images/ribbon1.png" alt="" class="ribbon1">
    <img src="../../images/ribbon2.png" alt="" class="ribbon2">
    <img src="../../images/line.png" alt="" class="line">  
    <router-link to="home" class="write" onclick="ga('send','event','Online','Writeyourcard')">写下你的祝福</router-link>
</div>
</template>
<style lang="scss" scoped>
    @function pectW($n, $w:750) {
        @return $n/$w*100%
    }
    @function pectH($n, $h:1203) {
        @return $n/$h*100%
    }
    @mixin center($width) {
        position: absolute;
        width: $width;
        left: 50%;
        margin-left: (-$width/2)
    }
    .share{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background:url(../../images/animation-bg.jpg);
        background-size:100% 100%;
        .stars{
            position: absolute;
            img{
                width: 100%;
            }
        }
        .ribbon1{
            position: absolute;
            left: 0;
            top: 0;
        }
        .ribbon2{
            position: absolute;
            right: 0;
            top: pectH(982);
        }
        .line{
            position: absolute;
            top: pectH(930);
        }
        .back{
            position: absolute;
            left: 35px;
            top: 25px;
            font-size: 30px;
            text-decoration: none;
            color:#959595;
        }
        .giftcontainer{
            @include center(610px);
            top: pectH(92);
            height: 765px;
            background:#fff;
            box-shadow: 0 0 14px #717171;
            z-index: 2;
            background:#fff;
            background-size:100% 100%;
            .stamp{
                @include center(120px);
                bottom: -60px;
            }
            .imgcontainer{
                position: relative;
                display: flex;
                width: 100%;
                height: 570px;
                background:#fff;
                background-size:100%;
                z-index: 2;
                .giftimg{
                    display: block;
                    width: 550px;
                    margin:auto;
                }
            }
            .word{
                position: relative;
                margin-top: -5px;
                font-size: 36px;
                line-height: 50px;
                font-weight: bold;
                color: #9b7a27;
                text-align: center;
                -webkit-text-size-adjust: none;
                background: -webkit-linear-gradient(0deg, #9b7a27 0%,#efcc63 20%,#9b7a27 40%, #efcc63 60%, #9b7a27 80%, #efcc63 100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-fill-color: transparent;
            }
        }
        .intro{
            position: absolute;
            width: 100%;
            font-weight: bold;
            top: pectH(790);
            font-size: 23px;
            color: #898989;
            text-align: center;
            line-height: 45px;
        }
        .qrtext{
            position: absolute;
            top: pectH(940);
            text-align: center;
            width: 100%;
            font-size: 24px;
            color:#a12004;
            font-weight: bold;
        }
        .qr{
           @include center(166px); 
           top: pectH(988);
        }
        .write{
            text-decoration: none;
            height: 59px;
            font-size: 42px;
            color: #fff;
            background:#a12004;
            text-align: center;
            line-height: 59px;
            bottom: pectH(102);
            @include center(314px);
        }
        .share{
            position: absolute;
            width: 226px;
            height: 59px;
            font-size: 42px;
            color: #fff;
            background:#a12004;
            text-align: center;
            line-height: 59px;
            bottom: pectH(100);
            right: 124px;
        }
        .mask{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.7);
            .arrow{
                position: absolute;
                right: 40px;
                top: 15px;
                z-index: 4;
            }
            .text{
                @include center(278px);
                bottom:pectH(135);
            }
        }
    }
</style>
