<template>
  <div id="app">
    <div v-if="!isPC" class="mobile">
        <transition name="fade"> 
          <router-view></router-view>
        </transition> 
        <div class=horizontal-tip>
            <div class=table-full>
                <div class=td-m><img src=../images/horizontal.png></div>
            </div>
        </div>
    </div>
    <div v-if="isPC" class="pc">
      
    </div>
  </div>
</template>

<script>

export default {
  name: 'app',
  data (){
    return{
      // show: true,
      cartierDate:[
        {
          date:'01',
          imgType:'gif',
          message:'圣诞将至，你准备好了吗？',
          active:false
        },
        {
          date:'02',
          imgType:'gif',
          message:'抓住它了！等不及要看看是什么',
          active:false
        },
        {
          date:'03',
          imgType:'gif',
          message:'这个圣诞，只想与你在一起',
          active:false
        },
        {
          date:'04',
          imgType:'png',
          message:'送给她一份惊喜吧！',
          active:false
        },
        {
          date:'05',
          imgType:'gif',
          message:'也许今夜的美梦，20天后即会成真',
          active:false
        },
        {
          date:'06',
          imgType:'png',
          message:'选哪个？好难',
          active:false
        },
        {
          date:'07',
          imgType:'gif',
          message:'哪怕温度递减，乐在风度不减',
          active:false
        },
        {
          date:'08',
          imgType:'gif',
          message:'开始装扮圣诞节啦！',
          active:false
        },
        {
          date:'09',
          imgType:'gif',
          message:'圣诞幸运枝下的吻，在最美好的时节',
          active:false
        },
        {
          date:'10',
          imgType:'png',
          message:'别忘了给他的礼物',
          active:false
        },
        {
          date:'11',
          imgType:'gif',
          message:'我想你了',
          active:false
        },
        {
          date:'12',
          imgType:'png',
          message:'努力工作，为了与你一起迎接圣诞',
          active:false
        },
        {
          date:'13',
          imgType:'gif',
          message:'这个圣诞节，我在这里等你哦',
          active:false
        },
        {
          date:'14',
          imgType:'png',
          message:'想用什么犒赏自己？',
          active:false
        },
        {
          date:'15',
          imgType:'png',
          message:'哪怕再忙碌，也不忘准备你的礼物',
          active:false
        },
        {
          date:'16',
          imgType:'png',
          message:'休息…休息…',
          active:false
        },
        {
          date:'17',
          imgType:'png',
          message:'准备好我的礼物了吗？',
          active:false
        },
        {
          date:'18',
          imgType:'png',
          message:'圣诞聚会，何不让自己个性闪耀？',
          active:false
        },
        {
          date:'19',
          imgType:'gif',
          message:'整座城市，都在圣诞倒计时',
          active:false
        },
        {
          date:'20',
          imgType:'gif',
          message:'你的礼物，每一件我都精心准备',
          active:false
        },
        {
          date:'21',
          imgType:'png',
          message:'最长的夜，需要最温暖的你',
          active:false
        },
        {
          date:'22',
          imgType:'png',
          message:'这件礼物好闪耀！',
          active:false
        },
        {
          date:'23',
          imgType:'gif',
          message:'即将到来的是一年最温暖的夜晚',
          active:false
        },
        {
          date:'24',
          imgType:'gif',
          message:'圣诞快乐！',
          active:false
        },
        {
          date:'25',
          imgType:'gif',
          message:'圣诞快乐！',
          active:false
        },
        {
          date:'26',
          imgType:'gif',
          message:'狂欢过后，懒懒地不想上班',
          active:false
        },
        {
          date:'27',
          imgType:'gif',
          message:'如果每天都是圣诞就好了！',
          active:false
        },
        {
          date:'28',
          imgType:'gif',
          message:'节日快乐！一起迎接2017年！',
          active:false
        }
      ],
      img:[],
      payload:{
        imgArray:[]
      },
      isPC:false
    }
  },
  components: {
  },
  computed:{
    isPC:function(){
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
                  "SymbianOS", "Windows Phone",
                  "iPad", "iPod"];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
          if (userAgentInfo.indexOf(Agents[v]) > 0) {
              flag = false;
              break;
          }
      }
      return flag;
    }
  },
  created(){
    
  },
  mounted(){
  },
  methods:{
    domore(obj,start,end,cb){
      var self = this;
      var W = window.innerWidth;
      var H = window.innerHeight;
      var canvas = document.getElementById("canvas");
      var over = true;
      canvas.width = W;
      canvas.height = H;
      var context = canvas.getContext('2d');
      window.requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;

      function gift(config){
        this.imgs = config.imgs;
        this.width = config.width;
        this.height = config.height;
        this.frame = config.frame;//图片下标
        this.frames = config.frames;//图片数量
      }

      var LIGHT = {
        imgs:obj,
        width:W,
        height:H,
        frame:start,
        frames:end
      }
      function Light(config){
        gift.call(this,config);
        this.x = 0;
        this.y = 0;
        this.index = 0;
        this.paint = function(){
            context.clearRect(this.x,this.y,this.width,this.height);
            context.drawImage(this.imgs[this.frame],this.x,this.y,this.width,this.height);
        }
        this.step = function(){
          this.index++;
          if(this.index%3 == 0){
            this.frame++;
            if(this.frame == this.frames){
              over = false;
              if(cb){
                cb(self);
                // self.$router.push(to);
              }
            }
          }
        }
      }
      var light = new Light(LIGHT)
      function step(){
        if(over){
            light.paint();
            light.step();
        }
        requestAnimationFrame(step);
      }
      step()
    }
  }

}
</script>
<style>
  .fade-enter-active {
    transition: opacity 1.5s
  }
  .fade-leave-active{
    transition: opacity 1.5s
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
  @font-face { 
    font-family: CartierDidot;
    font-style: normal;
    src: url('../font/CartierDidot.otf');
    /*src: require('./font/CartierDidot.otf');*/
  } 
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  html,body,#app{
    width:100%;
    height: 100%;
    font-family: '黑体';
  }
  .horizontal-tip {
    position: fixed;
    z-index: 120;
    width: 100%;
    height: 100%;
    background-color: #303030;
    font-size: 4.5em;
    color: #fff;
    top: 0;
    left: 0;
  }
  .table-full {
    display: table;
    width: 100%;
    height: 100%;
    position: relative
  }
  .table-full .td-m {
    display: table-cell;
    vertical-align: middle;
    text-align: center
  }
  .table-full .td-m img{
    width: 100%;
  }
  .pc {
    width: 100%;
    height: 100%;
    background: #ccc url(../images/landingpage.jpg) 50% 50% no-repeat;
    background-size: auto 100%;
  }
  
  @media all and (orientation:portrait) {
    .horizontal-tip {
      display: none
    }
  }
  @media screen and (max-aspect-ratio:13 / 9) {
    .horizontal-tip {
      display: none
    }
  }
  @keyframes star {
        0%{transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);}
        50%{transform:translate3d(10%,0,0) scale(2);-webkit-transform:translate3d(10%,0,0) scale(2);}
        100%{transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);}
    }
</style>
